html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1.618em
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input,
input[type="password"],
input[type="search"],
textarea,
input[type="range"],
isindex {
    -webkit-border-radius: 0
}

* html .clearfix-m {
    height: 1%;
    overflow: visible
}

*+html .clearfix-m {
    min-height: 1%
}

.clearfix-m:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0
}
.product {
    position: relative;
    margin: 0 15px 20px 0;
    padding: 15px 0 10px;
    border-left: 1px solid #ccc
}

.product-align-right {
    float: right;
    width: 420px;
    margin-left: 20px
}

.product-align-right .product-inner {
    padding-left: 10px
}

.multiple-products .product-inner {
    float: left;
    width: 33.3333%;
    margin-left: 44px;
    margin-right: 44px
}

.product .product-ribbon {
    position: absolute;
    top: 15px;
    left: 0;
    height: 37px;
    margin-left: -10px;
    padding-left: 20px;
    background: url(../img/ribbon2.png) no-repeat;
    line-height: 30px;
    text-align: left;
    z-index: 100
}

.product-ribbon span {
    display: block;
    padding-right: 18px;
    background: url(../img/ribbon2.png) repeat-x 0 -46px;
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
    letter-spacing: 1px
}

.product-left {
    float: left;
    width: 65%;
    margin-left: 2%
}

.product-align-right .product-left {
    width: 175px;
    margin-left: 0
}

.product-right {
    float: right;
    width: 30%;
    margin-left: 3%;
}

.product-align-right .product-right {
    width: 200px;
    margin-left: 15px;
    margin-right: 0;
}

.product-thumbnail {
    display: block;
	margin-top: 12px;
    margin-bottom: 10px
}

.product-thumbnail img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto
}

.product .product-make-model {
    display: block;
    line-height: 18px
}

.product-title,
.product-title a {
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    line-height: 22px;
    margin-bottom: 15px;
    color: #3498db;
    text-align: left;
    text-decoration: none;
}



.product-make-model,
.product-make-model a {
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px
}

.product-text {
    font-family: "ff-tisa-web-pro", georgia, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px
}

.product.roadster {
    padding: 0 0 10px;
    border: none
}

.pullquote {
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #dc3325;
    margin: 0 5px 15px 20px
}

.pullquote-right {
    float: right;
    width: 220px
}

.pullquote-inner {
    margin-bottom: 15px
}

.pullquote .pricebox {
    display: inline-block;
    margin-bottom: 10px;
    padding: 4px 6px;
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    background-color: #dc3425;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4)
}

.pullquote .pricebox a {
    color: #fff;
    text-decoration: none
}

.product-make-model,
.product-make-model a {
    margin-bottom: 5px;
    color: #3498db !important;
    text-decoration: none
}

.product-text {
    margin-bottom: 10px;
    color: #666
}

.product-pricebox {
    display: inline-block;
    margin: 10% 12% 3% 12%;
    padding: 1% 1%;
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 119%;
    color: #ffffff;
    background-color: #dc3325;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, 0.4);
    display: block
}

.product-pricebox:hover,
.product-pricebox:focus {
	color: #ffffff;
	background-color: #f71905;
}

div.product-pricebox a,
div.product-left a{
	border-bottom: 0px solid #333;
	color: #ffffff !important;
	text-decoration: none;
}

a.product-make-model.product-name  {
	border-bottom: 0px solid #333;
	text-decoration: none;
}

a.product-title.product-name{
	border-bottom: 0px solid #333;
	color: #dc3325;
	text-decoration: none;
}


.product-disclaimer {
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px
}


* html .clearfix {
    height: 1%;
    overflow: visible
}

*+html .clearfix {
    min-height: 1%
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0
}

.product-m {
    position: relative;
    margin: 0 0 20px 0;
    padding: 15px 0 10px;
    border-left: 1px solid #ccc
}

.product-align-right-m {
    float: right;
    width: 100%;
    margin-left: 20px
}


.product-align-right-m .product-inner-m {
    padding-left: 10px
}

.multiple-products-m .product-inner-m {
    float: left;
    width: 33.3333%;
    margin-left: 44px;
    margin-right: 44px
}

.product-m .product-ribbon-m {
    position: absolute;
    top: 15px;
    left: 0;
    height: 37px;
    margin-left: -10px;
    padding-left: 20px;
    background: url(../img/ribbon2.png) no-repeat;
    line-height: 30px;
    text-align: left;
    z-index: 100
}

.product-ribbon-m span {
    display: block;
    padding-right: 18px;
    background: url(../img/ribbon2.png) repeat-x 0 -46px;
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    color: #000;
    letter-spacing: 1px
}

.product-left-m {
    float: left;
    width: 65%;
    margin-left: 2%
}

.product-align-right-m .product-left-m {
    width: 100%;
    margin-left: 0;
}

.product-right-m {
    float: right;
    width: 100%;
    margin-left: 3%;
}

.product-align-right-m .product-right-m {
    width: 100%;
    margin-left: 15px;
    margin-right: 0;
}

.product-thumbnail-m {
    display: block;
	margin-top: 6px;
    margin-bottom: 5px
}

.product-thumbnail-m img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: Auto
}

.product-m .product-make-model-m {
    display: block;
    line-height: 18px
}

.product-title-m,
.product-title-m a {
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    line-height: 22px;
    margin-bottom: 8px;
    color: #3498db;
    text-align: left;
    text-decoration: none;
}


.product-make-model-m,
.product-make-model-m a {
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px
}

.product-text-m {
    font-family: "ff-tisa-web-pro", georgia, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px
}

.product.roadster-m {
    padding: 0 0 10px;
    border: none
}

.pullquote-m {
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #dc3325;
    margin: 0 5px 15px 20px
}

.pullquote-right-m {
    float: right;
    width: 220px
}

.pullquote-inner-m {
    margin-bottom: 15px
}

.pullquote .pricebox-m {
    display: inline-block;
    margin-bottom: 10px;
    padding: 4px 6px;
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    background-color: #dc3425;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4)
}

.pullquote .pricebox-m a {
    color: #fff;
    text-decoration: none
}

.product-make-model-m,
.product-make-model-m a {
    margin-bottom: 5px;
    color: #dc3325 !important;
    text-decoration: none
}

.product-text-m {
    margin-bottom: 10px;
    color: #666
}

.product-pricebox-m {
    display: inline-block;
    margin: 10% 12% 3% 12%;
    padding: 1% 1%;
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 119%;
    color: #ffffff;
    background-color: #dc3325;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, 0.4);
    display: block
}

.product-pricebox-m:hover,
.product-pricebox-m:focus {
	color: #ffffff;
	background-color: #f71905;
}

/*
div.product-pricebox-m a:hover,
div.product-pricebox-m a:focus {
    color: #dc3425;
	background-color: #ffffff;
    text-decoration: none
}
*/

div.product-pricebox-m a,
div.product-left-m a {
	border-bottom: 0px solid #333;
	color: #e3d3d3;
	text-decoration: none;
}

a.product-make-model-m.product-name-m  {
	border-bottom: 0px solid #333;
	text-decoration: none;
}

a.product-title-m.product-name-m{
	border-bottom: 0px solid #333;
	color: #3498db;
	text-decoration: none;
}

.product-disclaimer-m {
    font-family: "futura-pt", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px
}

/*
.product-pricebox a {
    display: block;
    color: #fff !important;
    text-decoration: none
}*/

/*
div.product-title a:hover,
div.product-title a:focus {
    color: #3498db;
	background-color: #eff1dc;
}*/

/*
div.product-title a:hover,
div.product-title a:focus {
    color: #3498db;
	background-color: #eff1dc;
}*/